@font-face {
    font-family: 'AudioWide';
    src: url('../../assets/fonts/Audiowide-Regular.ttf');
}

.catalog-background {
    min-height: 100dvh;
    background: radial-gradient(at 85% 10%, #202020, black);
    position: relative;
}

header {
    background: rgba(255, 0, 100, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 0, 100, 0.3);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    max-width: 100%;
    z-index: 100;
    height: 45px;
    flex-wrap: wrap;
}

.catalog-headerTitle {
    font-family: 'AudioWide';
}

.catalog-headerTitle-hal {
    font-weight: bolder;
    text-shadow: 2px 2px 4px black;
}

.catalog-headerTitle-movies {
    color: rgba(0, 0, 0, 0.2);
    font-weight: 100;
    -webkit-text-stroke: 1px white;
}

.catalog-selectGenre,
.catalog-searchTitle,
.catalog-searchTitleButton {
    height: 35px;
}

.catalog-selectGenre,
.catalog-searchTitle {
    background-color: #202020;
    color: white;
}

.catalog-selectDiv {
    position: relative;
}

.catalog-selectChevron {
    position: absolute;
    top: 8px;
    right: 10px;
    color: #bebebe;
    font-size: 0.8em;
}

.catalog-selectGenre {
    border-radius: 20px;
    border: none;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.3);
    width: 220px;
    padding-left: 15px;
    color: #bebebe;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.catalog-selectGenre:valid {
    color: white;
}

.catalog-searchDiv {
    position: relative;
}

.catalog-searchTitle {
    width: 220px;
    padding-left: 35px;
    border-radius: 20px;
    border: none;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.catalog-searchTitle::-webkit-search-decoration,
.catalog-searchTitle::-webkit-search-cancel-button,
.catalog-searchTitle::-webkit-search-results-button,
.catalog-searchTitle::-webkit-search-results-decoration {
    display: none;
}

.catalog-searchTitle:focus {
    border: none !important;
}

.catalog-searchTitleButton {
    position: absolute;
    top: 0;
    left: 10px;
    background-color: transparent;
    border: none !important;
    color: gray;
    font-size: 1em;
}

.catalog-searchTitleButton,
.catalog-searchTitle::placeholder {
    color: #bebebe;
}

main {
    padding-top: 45px;
}

@media (max-width: 768px) {
    header {
        height: 90px;
    }

    main {
        padding-top: 80px;
    }

    .catalog-selectGenre, .catalog-searchTitle {
        width: 140px;
    }
}