.movieDetail-extDiv {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('../../assets/img/fondo_hal5.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movieDetail-intDiv {
    width: 700px;
    max-height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}

.movieDetail-imgDiv {
    position: relative;
    width: 100%;
}

.movieDetail-img {
    aspect-ratio: 700/393;
}

.movieDetail-title {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 600;
    text-shadow: 1px 1px 2px black;
    font-size: 3em;
}

.movieDetail-gradientOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 500;
}

.movieDetail-closeBtn {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 600;
    background-color: transparent;
    border: none;
    font-size: 2em;
    color: white;
    text-shadow: 1px 1px 2px black;
    box-shadow: none;
}

.movieDetail-closeBtn:hover {
    text-shadow: 0px 0px 10px #26B0DF;
}

.movieDetail-genreBtn {
    border-radius: 25px;
    background-color: #26B0DF;
    color: white;
}

.movieDetail-genreBtn:hover, .movieDetail-genreBtn:active {
    background-color: #26B0DF !important;
    color: white;
    box-shadow: 0px 0px 6px white;
}

.movieDetail-overviewDiv {
    height: calc(100vh - 393px);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: black gray;
}

.movieDetail-overviewDiv::-webkit-scrollbar {
    width: 8px;
}

.movieDetail-overviewDiv::-webkit-scrollbar-track {
    background: grey;
    border-radius: 10px;
}

.movieDetail-overviewDiv::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
    border: 2px solid gray;
}

@media (max-width: 992px) {
    .movieDetail-title {
        font-size: 2.5em;
    }
    .movieDetail-intDiv {
        width: 500px;
    }
    .movieDetail-overviewDiv {
        height: calc(100vh - 280px);
    }
}

@media (max-width: 576px) {
    .movieDetail-title {
        font-size: 2em;
    }
    .movieDetail-overviewDiv {
        height: calc(100vh - 180px);
    }
}